/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0091ff;
  --ifm-color-primary-dark: #0091ff;
  --ifm-color-primary-darker: #0091ff;
  --ifm-color-primary-darkest: #0091ff;
  --ifm-color-primary-light: #0091ff;
  --ifm-color-primary-lighter: #0091ff;
  --ifm-color-primary-lightest: #0091ff;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #0091ff;
  --ifm-color-primary-dark: #0091ff;
  --ifm-color-primary-darker: #0091ff;
  --ifm-color-primary-darkest: #0091ff;
  --ifm-color-primary-light: #0091ff;
  --ifm-color-primary-lighter: #0091ff;
  --ifm-color-primary-lightest: #0091ff;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  --ifm-navbar-background-color: #1a1d1e;
  --ifm-hero-background-color: #151718;
  --ifm-background-surface-color: #151718;
  --ifm-background-color: #151718;
  --ifm-navbar-shadow: #313538;
  --ifm-footer-background-color:#1a1d1e; 
}

[data-theme="dark"] {
  background-color:  #151718;
}

nav[data-theme="light"]{
  background-color: white
}

:root[data-theme="dark"] nav img {
  filter: invert(1)
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme="dark"] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar {
  border-bottom: 1px solid var(--ifm-navbar-shadow);
}

.hero .DocSearch-Button {
  margin-left: auto;
  margin-right: auto;
}

.footer {
  border-top: 1px solid var(--ifm-navbar-shadow);
}

.tablist li + li {
  margin-top: 0;
}